.col-60 {
  width: 65%;
}

.about-1 {
  .bg-right {
    top: 235px;
    right: 0;
  }
  .bg-left {
    top: 385px;
    left: 0;
  }

  .table {
    .tr {
      display: flex;
      align-items: center;
      padding: 20px 0;

      .title {
        width: 315px;
        flex: 315px 0 0;
      }

      &:nth-child(1) {
        border-bottom: 6px solid #000;
      }
      &:nth-child(2) {
        border-bottom: 5px solid #000;
      }
      &:nth-child(3) {
        border-bottom: 4px solid #000;
      }
      &:nth-child(4) {
        border-bottom: 3px solid #000;
      }
      &:nth-child(5) {
        border-bottom: 2px solid #000;
      }
    }
  }
}

.about-2 {
  .f-s-22 {
    font-weight: 600;
    font-size: 22px;
  }

  .pros-list {
    list-style-type: disc;
    padding-left: 20px;
    li {
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      img {
        vertical-align: middle;
      }

      img, span, mark {
        margin: 0 5px;
      }

      span + img,
      img + span,
      mark + img,
      img + mark {
        margin-left: 0;
      }

    }
  }

  .container {
    position: relative;
    h2, p, ul {
      position: relative;
      z-index: 10;
    }
  }

  .bg-right {
    top: -50px;
    right: -120px;
  }
}

.about-3 {
  .chart {
    justify-content: flex-start;

    & > img {
      margin-right: 50px;
    }

    .legends {
      .row {
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 35px;
        }

        & > div {
          display: flex;
          align-items: center;
          font: 300 16px/30px 'Open Sans', sans-serif;
          img {
            margin-right: 15px;
          }
        }

        span {
          font-size: 50px;
          width: 105px;
          text-align: left;
        }
      }
    }
  }
}

.about-4 {
  .roadmap {

    position: relative;
    display: flex;
    justify-content: space-around;

    &__step {

      position: relative;
      font: 300 14px/20px 'Open-Sans', sans-serif;
      text-align: center;
      z-index: 10;

      &__month {
        font: 18px/20px 'SHPinscher-Regular';
        margin-bottom: 20px;
      }

    }

    &__bg {
      top: 115px;
      left: 0;
    }
  }
}

.about-5 {
  .video {
    position: relative;
    &__btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .bg-left {
    left: 0;
    top: -200px;
  }
}