.bg {
  position: absolute !important;
  z-index: 1 !important;

  img {
    width: 100%;
  }
}

header {
  nav {
    position: relative;
    a {
      position: relative;
      z-index: 10;
    }
  }

  .bg-left {
    top: -30px;
    left: -337px;
  }

  .bg-right {
    top: -30px;
    right: -337px;
  }
}

.section-1 {
  .bg-right {
    bottom: -900px;
    right: -321px;
  }
}

.section-2 {
  .bg-left {
    top: 150px;
    left: -282px;
  }
}

.section-4 {
  .bg-left {
    top: 95px;
    left: -322px;
  }
}

.section-5 {
  .bg-right {
    bottom: -100px;
    right: -300px;
  }
}

.section-7 {
  .bg-left {
    top: 50%;
    left: -322px;
    transform: translateY(-50%);
  }
  .bg-right {
    bottom: 50px;
    right: -322px;
  }
}