body {
  color: #00151f;

  * {
    cursor: url('../img/cursor.png'), auto !important;
  }
}

html {
  &.modal-open {
    overflow-y: hidden;
  }
}

html,
body {
  overflow-x: hidden;
  position: relative;
  cursor: url('../img/cursor.png'), auto !important;;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

.container {

  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

}

.row {
  display: flex;
  justify-content: space-between;
}

header {
  position: relative;
  padding: 30px 0;
  z-index: 10;
  nav {
    > a, > div {
      position: relative;
      z-index: 10;
      display: inline-block;
      margin-right: 30px;
    }

    > a {
      font: 24px/1 'SF-UI-Display-Semibold';
      text-transform: uppercase;
      color: #00151f;

      &.active, &:hover {

        color: #00f;

      }
    }

    .lang {
      display: inline-flex;
      flex-direction: column;
      height: 30px;
      overflow: hidden;
      top: 5px;

      &.open {
        overflow: inherit;
      }

      a {
        display: block;
        order: 1;
        margin-bottom: 5px;

        img {
          display: block;
          height: 30px;
        }

        &.active {
          order: 0;
          display: block;
        }

      }
    }

    .wp-btn {

      top: 5px;
      width: 167px;
      height: 30px;
      background: url('../images/home/svg/wp_button.svg') center/cover no-repeat;
      transition: all .3s;

      &:hover {
        background: url('../images/home/svg/wp_button_hover.svg') center/cover no-repeat;
      }
    }
  }
}

footer {
  p {
    font: 300 14px/30px 'Open Sans', sans-serif;
  }

  img {
    width: 64px;
    transition: all .5s;
  }

  a {
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.form-input {
  display: inline-block;
  color: #00151f;
  border: 1px solid #fade23;
  padding: 0 22px;
  outline: none;
  width: 100%;
  max-width: 500px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1100;
  display: none;

  &.w__400 {
    max-width: 400px;
    width: 100%;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .modal-content {
    padding: 35px;
    background: #fff;

    form {

      text-align: center;

      .form-input {
        font: 14px/40px 'SFUIText-Light';
        margin-right: 35px;
        height: 40px;
        border-radius: 40px;
        margin-bottom: 10px;
      }

      .submit {
        display: inline-block;
        font: 16px/40px 'SFUIText-LightItalic';
        outline: none;
        height: 40px;
        border-radius: 40px;
        padding: 0 50px;
        background: #ff0;
        color: #00151f;
        cursor: pointer;
        transition: all .3s;

        &:hover {
          background: #fade23;
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
        }
      }

    }
  }
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#download {
  text-align: center;

  .download-link {
    display: inline-block;
    outline: none;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 10px 0;
    text-decoration: underline;

    &.rus {
      color: #93278f;
    }
    &.eng {
      color: #0000ff;
    }
    &.esp {
      color: #ff0000;
    }

    &:hover {
      &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('../images/home/svg/wp_arrow.svg') center/cover no-repeat;
        margin-right: 10px;
        vertical-align: middle;
        position: absolute;
        margin-top: 3px;
        left: 40px;
      }
    }
  }
}

.man {
  position: fixed;
  bottom: 0;
  left: -100px;
  z-index: 200;

  &.next-step {
    z-index: 1100;
  }

  &__body {
    position: relative;
    z-index: 10;

    img {
      display: block;
    }
  }

  &__click {
    position: absolute;
    top: -90px;
    left: -50px;
    display: none;
  }

  &__phrases {
    display: none;
    width: 160px;
    position: absolute;
    top: 10px;
    left: 95px;
  }

  &__form {
    display: none;
    position: absolute;
    width: 560px;
    background: #fff;
    z-index: 1;
    bottom: 210px;
    left: 20px;
    padding: 25px;

    &__code {
      width: 200px;
      text-align: center;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      font-weight: 700;
      border: none;
      border-bottom: 1px solid #000;
      outline: none;
    }

    &__input {

      font: 300 16px/45px 'Open Sans', sans-serif;
      border: 1px solid #b3b3b3;
      height: 45px;
      border-radius: 45px;
      width: 100%;
      margin-bottom: 20px;
      padding: 0 20px;
      outline: none;
    }

    button {
      display: inline-block;
      font: 20px/45px SFUIText-LightItalic;
      outline: 0;
      height: 45px;
      border-radius: 45px;
      padding: 0 50px;
      background: #ff0;
      color: #00151f;
      cursor: pointer;
      transition: all .3s;
    }

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .col-2 {
      width: 49%;
      font-size: 18px;
    }
  }

}
