body {
  color: #00151f;
}

.text-center {
  text-align: center;
}


.container {

  width: 1260px;
  margin: 0 auto;
  padding: 0 15px;

}

.row {
  display: flex;
  justify-content: space-between;
}

header {
  position: relative;
  padding: 30px 0;
  z-index: 10;
  nav {
    a {
      font: 24px/1 'SF-UI-Display-Semibold';
      text-transform: uppercase;
      color: #00151f;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.active, &:hover {

        color: #00f;

      }
    }
  }
}