@media screen and (max-width: 1279px) {
  .about-5 {
    .row {
      flex-wrap: wrap;
      justify-content: center;
      .video {
        margin: 10px 0;
      }
    }
  }
}

@media screen and (max-width: 1119px) {
  .converter {
    > div {
      width: 100%;
      text-align: center;

      &:nth-child(2) {
        p {
          margin-top: 25px;
        }
      }
    }

    .transfer {
      margin: 25px 0 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section-3 {
    .row {
      display: block;
      margin: 0;

      > div {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;

        .height-150, h3 {
          text-align: center;
        }
      }


    }
  }
}

@media screen and (max-width: 991px) {
  .bg {
    display: none;
  }

  body {
    background: url('../img/bg-center-right.png') fixed center right no-repeat;
  }

  header {
    nav {
      a {
        font: 20px/1 'SF-UI-Display-Semibold';

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .bg-left {
      top: -30px;
      left: -337px;
    }

    .bg-right {
      top: -30px;
      right: -337px;
    }
  }

  .section {
    h2 {
      text-align: center;
    }
  }

  .section-1 {
    padding: 50px 0;

    .m-b-100 {
      margin-bottom: 20px;
    }

    .print {
      margin-left: auto;
      width: 50px;
    }

    .ping-pong-img {
      width: 100%;
      max-width: 672px;
    }

    h1 {
      font: 34px/1 'SF-UI-Display-Ultralight';
      margin-bottom: 20px;
    }

    form {
      margin-bottom: 50px;
    }
  }

  .section-2 {

    .row {
      flex-wrap: wrap;
      justify-content: center;
      > div {
        width: 100%;

        &:first-child {
          margin: 0 0 20px 0;
          text-align: center;
        }
      }
    }

    .notebook {
      margin: 10px 0 0;
      width: 100%;
      max-width: 652px;
    }

  }

  .section-4 {
    .row {
      flex-wrap: wrap;
      display: block;
    }

    .news {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }

      &__title {
        font: 800 22px/30px 'Open Sans', sans-serif;
      }

      &__date {

        font: 400 20px/30px 'SHPinscher-Regular';

      }

      &__content {
        font: 300 16px/28px 'Open Sans', sans-serif;
      }

      p {

        &:last-child {
          text-align: right;
        }

      }
    }
  }

  .section-7 {
    .row {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .section-8 {
    .row {
      align-items: center;
      justify-content: center;

      img {
        margin: 0 50px;

        &.go {
          width: 320px;
        }

        &.slot {
          width: 250px;
        }
      }
    }
  }

  .about-1 {
    .col-60 {
      width: 100%;
      background: transparent;
    }

    .table {
      .tr {
        display: block;

        .title {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
  }

  .about-3 .chart {
    display: block;
    text-align: center;

    > img {
      margin: 0 auto 30px;
      width: 100%;
      max-width: 350px;

    }

    .legends {
      text-align: left;
    }
  }

  .about-4 {

    .roadmap {

      width: 100%;
      overflow-x: auto;
      display: block;
      white-space: nowrap;
      padding-bottom: 30px;

      &__step {
        display: inline-flex;
        width: 150px;
        vertical-align: top;
      }

    }
  }

  .faq {

    h3 {
      font: 800 20px/28px 'Open Sans', sans-serif;
      margin-bottom: 10px;
    }

    p {
      font: 400 16px/28px 'Open Sans', sans-serif;
      margin-bottom: 20px;
    }

  }

}

@media screen and (max-width: 699px){
  .section {
    padding: 25px 0;

    h2 {
      font: 32px/1 SF-UI-Display-Semibold;
      margin-bottom: 25px;
      letter-spacing: 4px;
    }
  }
  .section-8 {
    .row {
      align-items: center;
      justify-content: center;

      img {
        margin: 0;

        &.go {
          width: 300px;
        }

        &.slot {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .converter {

    .form-input {
      font: 400 22px/50px 'Open Sans', sans-serif;
      text-align: center;
      height: 50px;
      border-radius: 50px;
      width: 100%;
      max-width: 100%;
    }

    .curr-title {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    .currency {
      display: inline-block;
      width: 49%;
      text-align: center;
      padding: 0;
    }
  }

  .transfer {
    span {
      word-wrap: break-word;
    }
  }

  .about-3 .chart .legends {
    .row {
      span {
        font-size: 30px;
        text-align: right;
      }
    }
  }

}
