@media screen and  (max-width: 1599px) {
  .faq {
    .bg-left {
      display: none;
    }
  }
}

@media screen and (max-width: 1299px) {
  header {
    nav {
      .bg-1 {
        display: none;
      }
    }
  }

  .section-1 {
    .bg-4 {
      right: 150px;
    }
    .bg-5 {
      right: 250px;
    }
    .bg-9 {
      right: 100px;
    }
    .bg-10 {
      transform: scale(0.8);
      right: 150px;
    }
  }

  .section-2 {
    .row {
      align-items: center;
    }

    .bg-left {
      display: none;
    }

    .notebook {
      margin: 0;
      width: 100%;
    }
  }

  .about-1 {
    .bg-right {
      opacity: 0.4;
    }
  }

  .about-2 {
    .bg-right {
      opacity: 0.6;
    }
  }

  .about-3 {
    .bg-1 {
      display: none;
    }
  }
}

@media screen and (max-width: 1179px) {
  .section-3 {

    .width-250, .width-300, .width-360, .width-380 {
      flex: none;
      width: auto;
      margin: 0 20px;
      outline: none;

      img {
        max-width: 100%;
      }
    }

    .bg-right {
      display: none;
    }
  }

  .section-4 {

    .row {
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .news {
      width: 100%;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }

    .bg-1 {
      display: none;
    }
  }
}

@media screen and (max-width: 1059px) {
  .section-1 {
    .bg-10 {
      display: none;
    }
  }

  .converter {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1023px) {
  #man {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .section-1 {
    .bg-4, .bg-5 {
      display: none;
    }
  }

  .section-2 {
    .row {
      align-items: center;
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }
    .m-r-30 {
      display: none;
    }
  }

  .section-8 {
    .slot {
      display: none;
    }

    .row {
      height: 300px;
      #yes, #no {
        top: 250px;
        left: 50%
      }
      #yes {
        margin-left: -175px;
      }

      #now {
        margin-right: -110px;
      }
    }

    .bg-left {
      top: 30%;
    }

  }

  .about-3 {
    .chart {
      justify-content: flex-start;
      align-items: center;

      & > img {
        width: 250px;
      }

      .m-r-45 {
        margin-right: 25px;
      }

      .legends .row span {
        font-size: 35px;
      }
    }
  }

  .about-4 {
    .roadmap {

      width: 100%;
      white-space: pre;
      overflow: auto;
      padding-bottom: 50px;

      &__step {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }

    }
  }
}

@media screen and (max-height: 919px) {
  .section-1 {
    .bg-10 {
      display: none;
    }
  }
}

@media screen and (max-height: 799px) {
  .section-1 {
    form {
      margin-bottom: 90px;
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .modal {
    top: 0;
    position: fixed;
    transform: translateY(0) translateX(-50%);
  }

  .desktop-header {
    display: none;
  }

  .section {

    padding: 30px 0;

    h2 {
      font-size: 18px;
      letter-spacing: 2px;
      margin-bottom: 20px;

      img {
        transform: scale(0.8);
      }
    }
  }

  .section-1 {
    height: 100vh;
    min-height: 568px;
    overflow: hidden;

    .ping-pong-img {
      margin-top: 0;
      width: 80%;
      margin-bottom: 20px;
    }

    h1 {
      font: 22px/1.5 SFUIText-Light;
      margin-bottom: 30px;
    }

    form {
      margin-bottom: 50px;
      padding: 0 10px;

      .form-input {
        margin-right: 0;
      }

      .submit {
        width: 100%;
        max-width: 500px;
      }
    }

    .bg-1 {
      width: 700px;

    }

    .bg-2 {
      top: 10px;
      left: 10px;
      width: 200px;
    }

    .bg-3, .bg-7, .bg-9, .bg-11, .bg-12 {
      display: none;
    }

    .bg-8 {
      top: inherit;
      bottom: 30px;
      right: 20px;
    }

    .bg-13 {
      animation-name: none;
      left: 0;
      bottom: 60px;
    }
  }

  body {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    &.news-and-partners {
      .section-4, .section-6 {
        display: block;
      }
    }
  }

  .section-5,
  .about-3,
  .about-4,
  .section-4,
  .section-6,
  .section-8 {
    display: none;
  }

  .section-1 {
    order: 0;
  }

  .section-video {
    order: 1;

    .video {
      position: relative;
      background: none;
      width: 100%;
      max-width: 600px;
      height: auto;
      padding: 0;

      &__btn {
        top: 50%;
      }

      img {
        width: 100%;
      }
    }

    .video-bg {
      display: none;
    }
  }

  .section-2 {
    order: 2;
  }

  .section-3 {
    order: 3;

    .row {
      display: block;
    }

    .slick-prev, .slick-next {
      position: absolute;
      width: 52px;
      height: 53px;

      &:before {
        display: block;
        width: 52px;
        height: 53px;
      }

    }
  }

  .section-4 {

    .pretext {
      font: 800 18px/26px 'Open Sans',sans-serif;
      margin-bottom: 30px;
    }

    .news {
      &__title {
        padding: 10px 15px;
        font: 800 14px/20px 'Open Sans', sans-serif;
      }

      &__date {
        font: 400 18px/20px 'SHPinscher-Regular';
      }

      &__content {
        padding: 10px 15px;
        font: 300 16px/28px 'Open Sans',sans-serif;
      }

      p {

        &:last-child {
          text-align: right;
        }

      }

      .line {
        position: absolute;

        &.line-one {
          position: absolute;
          top: -5px;
          right: -5px;
          height: 8px;
          width: 50%;
        }
        &.line-two {
          position: absolute;
          top: 0;
          right: -5px;
          height: 100%;
          width: 8px;
        }
        &.line-three {
          position: absolute;
          bottom: -5px;
          right: -5px;
          height: 8px;
          width: 25%;
        }
      }

      &.blue {
        .line {
          background: #43e5bf;
        }
      }

      &.pink {
        .line {
          background: #f0f;
        }
      }
    }

    .bg-1 {
      top: 165px;
      left: 20px;
      width: 335px;
    }
  }

  .section-6 {
    .bg {
      display: none;
    }
  }

  .section-7 {
    order: 4;

    .slick-list {
      width: calc(~'100% - 20px');
      margin: 0 auto;
    }
    .slick-prev, .slick-next {
      position: absolute;
      width: 40px;
      height: 40px;
      z-index: 10;

      &:before {
        display: block;
        width: 40px;
        height: 40px;
      }

    }
    .slick-prev {

      left: 0;

      &:before {

        content: '';
        background: url('../images/home/partners/arrowleft_block6.svg') center/cover;

      }

    }
    .slick-next {

      right: 0;

      &:before {

        content: '';
        background: url('../images/home/partners/arrowright_block6.svg') center/cover;

      }

    }

    .advisers, .team {
      .member {
        &__name {
          background: #fff;
          display: inline-block;
        }
        &__photo {
          img {
            width: 90%;
            max-width: 300px;
          }
        }
        &__profession {
          background: #fff;
          display: inline-block;
        }
      }
    }

    .bg-left {
      display: none;
    }
  }

  footer {
    padding-top: 20px;
    order: 5;

    a {
      &.m-r-25 {
        margin-right: 15px;
      }

      img {
        width: 50px;
      }
    }
  }

  .colorful-text, .colorful-list {
    font: 14px/28px 'Open Sans', sans-serif;
  }

  .about-1 {
    .arrows-anim {
      display: none;
    }

    .container {
      padding: 0;
    }

    .table {
      .tr {
        flex-direction: column;
        padding: 15px;

        .td, .title {
          width: 100%;
          flex: 100% 0 0;
        }

      }
    }
  }

  .about-2 {
    .pros-list {
      li {
        font-size: 14px;
        line-height: 28px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      br {
        display: none;
      }
    }

    .bg {
      display: none;
    }

    .btn-buy {
      margin: 50px auto 20px;
    }
  }

  .faq {

    .bg {
      display: none;
    }
    h3 {
      font: 800 18px/26px 'Open Sans',sans-serif;
      margin-bottom: 10px;
    }
    p {
      font: 400 14px/26px 'Open Sans',sans-serif;
      margin-bottom: 20px;
    }
  }

}