@media screen and (max-width: 1299px) {
  header {
    nav {
      .bg-1 {
        display: none;
      }
    }
  }

  .section-1 {
    .bg-4 {
      right: 150px;
    }
    .bg-5 {
      right: 250px;
    }
    .bg-6 {
      display: none;
    }
    .bg-9 {
      right: 100px;
    }
    .bg-10 {
      transform: scale(0.8);
      right: 150px;
    }
  }

  .section-2 {
    .row {
      align-items: center;
    }

    .bg-left {
      display: none;
    }

    .notebook {
      margin: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1179px) {
  .section-3 {

    .width-250, .width-300, .width-360, .width-380 {
      flex: none;
      width: auto;
      margin: 0 20px;
      outline: none;

      img {
        max-width: 100%;
      }
    }

    .bg-right {
      display: none;
    }
  }
}

@media screen and (max-width: 1059px) {
  .section-1 {
    .bg-10 {
      display: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  #man {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .section-1 {
    .bg-4, .bg-5 {
      display: none;
    }
  }

  .section-2 {
    .row {
      align-items: center;
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }
    .m-r-30 {
      display: none;
    }
  }

  .section-8 {
    .slot {
      display: none;
    }

    .row {
      height: 300px;
      #yes, #no {
        top: 250px;
        left: 50%
      }
      #yes {
        margin-left: -175px;
      }

      #now {
        margin-right: -110px;
      }
    }

    .bg-left {
      top: 30%;
    }

  }
}

@media screen and (max-height: 919px){
  .section-1 {
    .bg-10 {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding: 30px 0;

    h2 {
      font: 32px/1 SF-UI-Display-Semibold;
      margin-bottom: 20px;
    }
  }

  header {
    padding: 0;
    nav {
      display: none;
    }
  }
  .section-1 {
    overflow: hidden;
    min-height: 568px;

    .ping-pong-img {
      margin-top: 0;
      width: 80%;
      margin-bottom: 20px;
    }

    h1 {
      font: 22px/1.5 SFUIText-Light;
      margin-bottom: 30px;
    }

    form {
      margin-bottom: 50px;
      padding: 0 10px;

      .form-input {
        margin-right: 0;
      }

      .submit {
        width: 100%;
        max-width: 500px;
      }
    }

    .bg-1 {
      width: 700px;

    }

    .bg-2 {
      top: 10px;
      left: 10px;
      width: 200px;
    }

    .bg-3, .bg-7, .bg-9, .bg-11, .bg-12 {
      display: none;
    }

    .bg-8 {
      top: inherit;
      bottom: 30px;
      right: 20px;
    }

    .bg-13 {
      animation-name: none;
      left: 0;
      bottom: 60px;
    }
  }

  .section-6, .section-8 {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .section-1 {
    order: 0;
  }
  .section-video {
    order: 1;

    .video {
      position: relative;
      background: none;
      width: 100%;
      max-width: 600px;
      height: auto;
      padding: 0;

      &__btn {
        top: 50%;
      }

      img {
        width: 100%;
      }
    }

    .video-bg {
      display: none;
    }
  }
  .section-2 {
    order: 2;
  }
  .section-3 {
    order: 3;

    .row {
      display: block;
    }

    .slick-prev, .slick-next {
      position: absolute;
      width: 52px;
      height: 53px;

      &:before {
        display: block;
        width: 52px;
        height: 53px;
      }

    }
  }
  .section-7 {
    order: 4;

    .slick-list {
      width: calc(~'100% - 20px');
      margin: 0 auto;
    }
    .slick-prev, .slick-next {
      position: absolute;
      width: 40px;
      height: 40px;
      z-index: 10;

      &:before {
        display: block;
        width: 40px;
        height: 40px;
      }

    }
    .slick-prev {

      left: 0;

      &:before {

        content: '';
        background: url('../images/home/partners/arrowleft_block6.svg') center/cover;

      }

    }
    .slick-next {

      right: 0;

      &:before {

        content: '';
        background: url('../images/home/partners/arrowright_block6.svg') center/cover;

      }

    }

    .advisers, .team {
      .member {
        &__name {
          background: #fff;
          display: inline-block;
        }
        &__photo {
          img {
            width: 100%;
            max-width: 300px;
          }
        }
        &__profession {
          background: #fff;
          display: inline-block;
        }
      }
    }

    .bg-left {
      display: none;
    }
  }

  footer {
    order: 5;

    a {
      &.m-r-25 {
        margin-right: 15px;
      }

      img {
        width: 50px;
      }
    }
  }
}