.section {
  position: relative;
  padding: 50px 0;

  .container {

    position: relative;
    z-index: 10;

  }

  h2 {
    font: 36px/1 'SF-UI-Display-Semibold';
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 8px;

    img {
      vertical-align: middle;
    }
  }
}

.section-1 {
  padding: 0;
  height: calc(~'100vh - 94px');
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .ping-pong-img {
    width: 100%;
    max-width: 530px;
  }

  h1 {
    font: 36px/1 'SFUIText-Light';
    color: #00151f;
    margin-bottom: 50px;
  }

  form {

    margin-bottom: 200px;

    .form-input {
      font: 16px/56px 'SFUIText-Light';
      margin-right: 35px;
      height: 56px;
      border-radius: 56px;
      margin-bottom: 10px;
    }

    .submit {
      display: inline-block;
      font: 24px/1 'SFUIText-LightItalic';
      outline: none;
      height: 56px;
      border-radius: 56px;
      padding: 0 50px;
      background: #ff0;
      color: #00151f;
      margin-bottom: 10px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background: #fade23;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
      }
    }

  }
}

.section-2 {

  .row {
    > div {
      width: 50%;
    }
  }

  .notebook {
    margin: 10px 0 0 -60px;
    width: 650px;
  }

  .colorful-list {
    font-style: italic;

    li {

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 26px;
        height: 25px;
        background: url('../images/home/what_ping_pong/arrow_block2.svg') center/cover;
        vertical-align: middle;
        margin-right: 15px;
        opacity: 1;
        transition: all .5s;
      }

      &:hover {
        &:before {
          opacity: 0;
        }
      }

    }
  }

}

.section-3 {
  h3 {
    font: 800 16px/1 'Open Sans', sans-serif;
    margin-bottom: 12px;
  }

  .height-150 {
    height: 150px;
  }

  .qr-code {
    margin: -20px 0 0 60px;
  }

  .white-bg-text {

    h3 {
      padding-left: 20px;
    }

    p {
      padding: 5px;
      display: inline-block;
      background: #fff;
      width: calc(~'100% - 40px');
      margin-left: 20px;
    }
  }

  .width-317 {
    flex: 317px 0 0;
    width: 317px;
  }
}

.section-4 {
  h2 {
    img {
      position: relative;
      top: -10px;
    }
  }

  .row {
    align-items: flex-start;
  }

  .news {
    border: 2px solid #838383;
    width: 50%;
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }

    .js-accordion {
      img {
        transition: all .3s;
      }

      &.open {
        img {
          transform: rotate(180deg);
        }
      }
    }

    &__title {
      padding: 20px 25px;
      font: 800 26px/30px 'Open Sans', sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e6e6e6;
    }

    &__date {

      font: 400 26px/30px 'SHPinscher-Regular';
      color: #00f;

    }

    &__content {
      padding: 10px 25px;
      font: 300 16px/30px 'Open Sans', sans-serif;

      span {
        color: #f00;
        font-weight: 700;
      }

      &--full {
        display: none;

        p {
          text-align: left !important;
        }
      }
    }

    p {

      &:last-child {
        text-align: right;
      }

    }

    .line {
      position: absolute;

      &.line-one {
        position: absolute;
        top: -5px;
        right: -5px;
        height: 8px;
        width: 50%;
      }
      &.line-two {
        position: absolute;
        top: 0;
        right: -5px;
        height: 100%;
        width: 8px;
      }
      &.line-three {
        position: absolute;
        bottom: -5px;
        right: -5px;
        height: 8px;
        width: 25%;
      }
    }

    &.blue {
      .line {
        background: #43e5bf;
      }
    }

    &.pink {
      .line {
        background: #f0f;
      }
    }
  }

  .bg-1 {
    top: 165px;
    left: 20px;
    width: 335px;
  }
}

.converter {
  flex-wrap: wrap;
  .currency {
    font: 400 16px/30px 'Open Sans', sans-serif;
    color: #b3b3b3;
    padding-left: 40px;
    cursor: pointer;

    &:hover {
      color: #000;
    }

    &.active {
      color: #000;

      &:before {
        content: '';
        display: inline-block;
        background: url('../images/about_ico/currency/finger_block5.svg') center/cover;
        width: 19px;
        height: 31px;
        vertical-align: text-bottom;
        margin-right: 5px;
        margin-left: -24px;
      }
    }

  }

  .form-input {
    font: 400 26px/64px 'Open Sans', sans-serif;
    text-align: center;
    height: 64px;
    border-radius: 64px;
    width: 520px;

    &.change {
      border: 3px solid #fade23;
    }

    &.error {
      border: 3px solid #f00;
    }
  }

  .transfer {
    margin: 70px 0 0;
    width: 100%;
    text-align: center;
  }

  .copy-link {
    cursor: pointer;
  }
}

.section-6 {

  .slick-slide {
    outline: none;
    text-align: center;
    padding: 0 25px;
    opacity: 0.33;
    transition: all .3s;

    &:hover {
      opacity: 1;
    }
  }

  .slick-list {

    width: calc(~'100% - 104px');
    margin: 0 auto;

  }

  .slick-prev, .slick-next {
    position: absolute;
    width: 52px;
    height: 53px;

    &:before {
      display: block;
      width: 52px;
      height: 53px;
    }

  }

  .slick-prev {

    left: 0;

    &:before {

      content: '';
      background: url('../images/home/partners/arrowleft_block6.svg') center;

    }

  }

  .slick-next {

    right: 0;

    &:before {

      content: '';
      background: url('../images/home/partners/arrowright_block6.svg') center;

    }

  }
}

.section-7 {
  .member {
    text-align: center;
    width: 376px;
    margin-bottom: 50px;
    outline: none;

    &__name {
      color: #00f;
      span {
        background: #00f;
        color: #fff;
        padding: 0 2px;
      }
    }
    &__profession {
      font: 700 20px/24px 'Open Sans', sans-serif;
    }

    &.female {
      .member__name {
        color: #f0f;
        span {
          background: #f0f;
          color: #fff;
          padding: 0 2px;
        }
      }
    }
  }

  .advisers {
    .member {
      &__photo {
        img {
          width: 223px;
          margin: 0 auto;
        }
      }

      &__name {
        font: 32px/1 'SHPinscher-Regular';
      }
    }
  }

  .team {
    .member {
      &__photo {
        height: 190px;
        margin-bottom: 30px;

        img {
          width: 200px;
          margin: 0 auto;
        }
      }

      &__name {
        font: 28px/1 'SHPinscher-Regular';
      }
    }
  }
}

.section-8 {
  .row {
    align-items: center;
    justify-content: center;
    position: relative;

    #yes,
    #no {
      position: absolute;
      top: 340px;
      display: flex;
      align-items: center;
      justify-content: center;

      .hide {
        display: none;
      }

      &:hover {
        .show {
          display: none;
        }
        .hide {
          display: block;
        }
      }
    }

    #yes {
      position: absolute;
      width: 150px;
      height: 50px;
      left: 200px;
      z-index: 15;
    }

    #no {
      width: 110px;
      height: 50px;
      left: 405px;
      z-index: 15;
    }

    img {
      margin: 0 50px;

      &.go {
        position: relative;
        top: -30px;
      }

      &.slot {
        width: 320px;
      }
    }
  }
}

.section-video {
  .row {
    align-items: center;
  }

  .video {
    position: relative;
    background: url('../images/home/video/tv.png') center/cover no-repeat;
    width: 524px;
    height: 386px;
    padding: 20px 32px;

    > img {
      width: 460px;
    }

    &__btn {
      position: absolute;
      top: 180px;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      cursor: pointer;

      img {
        width: 90px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .video-bg {
    padding-left: 50px;
    img {
      width: 100%;
    }
  }
}